<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.alextarasyuk.rssreader">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        >
        <activity android:name="com.example.alextarasyuk.view.AndroidRSSReaderApplicationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!-- Add New Site Activity -->
        <activity android:name="com.example.alextarasyuk.view.AddNewSiteActivity"/>

        <!-- List rss items Activity -->
        <activity
            android:name="com.example.alextarasyuk.view.ListRSSItemsActivity"
            android:configChanges="keyboardHidden|orientation"/>

        <!-- Display webpage Activity -->
        <activity
            android:name="com.example.alextarasyuk.view.DisPlayWebPageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>